.iphone-light-card {
  background-color: #f5f5f7;
  height: 77vh;
  background-image: url(../../../public/images/hero-iphone-15-light.jpg);
  background-position: 50% 85%;
  background-repeat: no-repeat;
  color: #1d1d1f;
}

.macpro-light-card {
  background-color: white;
  height: 77vh;
  background-repeat: no-repeat;
  color: #1d1d1f;
  background-image: url(../../../public/images/mac-book-pro.jpg);
  background-size: 80%;
  background-position: 50% 75%;
}

.imac-light-card {
  background-color: white;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #1d1d1f;
  background-image: url(../../../public/images/promo_imac_preorder__d3qgowjdhqs2_large.jpg);
}

.apple-watch-dark-card {
  background-color: #000;
  height: 78vh;
  background-image: url(../../../public/images/apple-watch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.airpods-dark-card {
  background-color: #000;
  height: 78vh;
  background-position: center;
  background-image: url(../../../public/images/promo_airpods_pro_order__d8xv36p4uwae_large.jpg);
  color: #fff;
  background-repeat: no-repeat;
}

.ipad-light-card {
  background-color: white;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #1d1d1f;
  background-image: url(../../../public/images/promo_ipad__fioegapg12qi_large.jpg);
}

.apple-card-light-card {
  background-color: white;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #1d1d1f;
  background-image: url(../../../public/images/tile__cauwwcyyn9hy_small.jpg);
}

.tradein-light-card {
  background-color: white;
  height: 78vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #1d1d1f;
  background-image: url(../../../public/images/promo_iphone_tradein__bugw15ka691e_small.jpg);
}

.apple-icon {
  height: 35px !important;
  width: 35px !important;
  color: #1d1d1f;
}

@media (max-width: 1300px) {
  .iphone-light-card {
    max-height: 550px;
  }

  .macpro-light-card {
    max-height: 550px;
  }

  .imac-light-card {
    max-height: 580px;
  }

  .apple-watch-dark-card {
    max-height: 580px;
  }

  .airpods-dark-card {
    max-height: 580px;
  }

  .ipad-light-card {
    max-height: 580px;
  }

  .apple-card-light-card {
    max-height: 580px;
  }

  .tradein-light-card {
    max-height: 580px;
  }
}

@media (max-width: 850px) {
  .iphone-light-card {
    max-height: 480px;
  }

  .macpro-light-card {
    max-height: 480px;
  }
}

@media (max-width: 750px) {
  .iphone-light-card {
    max-height: 480px;
  }

  .macpro-light-card {
    max-height: 480px;
  }
}

/* @media (max-width: 590px) {
  .iphone-light-card {
    height: 55vh;
    background-position: 50% 75%;
  }

  .macpro-light-card {
    height: 55vh;
  }

  .imac-light-card {
    height: 80vh;
  }

  .apple-watch-dark-card {
    height: 80vh;
  }

  .airpods-dark-card {
    height: 80vh;
  }

  .ipad-light-card {
    height: 80vh;
  }

  .apple-card-light-card {
    height: 80vh;
  }

  .tradein-light-card {
    height: 80vh;
  }
} */
