.swiper-pagination-bullet {
  background: #333333;
}

.slide-1 {
  background-image: url(../../../public/images/slider1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-2 {
  background-image: url(../../../public/images/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-3 {
  background-image: url(../../../public/images/slider3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-4 {
  background-image: url(../../../public/images/slider4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-5 {
  background-image: url(../../../public/images/slider5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-6 {
  background-image: url(../../../public/images/slider6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-7 {
  background-image: url(../../../public/images/slider7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-8 {
  background-image: url(../../../public/images/slider8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
