.apple-tv-swipper {
  height: 90vh;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  background: #212020;
}

.slide-1 {
  background-image: url(../../../public/images/slider1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-2 {
  background-image: url(../../../public/images/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-3 {
  background-image: url(../../../public/images/slider4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-4 {
  background-image: url(../../../public/images/slider5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-5 {
  background-image: url(../../../public/images/slider6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-6 {
  background-image: url(../../../public/images/slider7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-7 {
  background-image: url(../../../public/images/slider8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1400px) {
  .apple-tv-swipper {
    height: 75vh;
  }

  .slide-1 {
    background-size: contain;
  }

  .slide-2 {
    background-size: contain;
  }

  .slide-3 {
    background-size: contain;
  }

  .slide-4 {
    background-size: contain;
  }

  .slide-5 {
    background-size: contain;
  }

  .slide-6 {
    background-size: contain;
  }

  .slide-7 {
    background-size: contain;
  }
}

@media (max-width: 1050px) {
  .apple-tv-swipper {
    height: 45vh;
  }
}
